/* style.css */

body {
    font-family: "Segoe UI", Roboto, sans-serif;
    background: linear-gradient(135deg, #a8edea, #fed6e3);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
  }
  
  input#nome{
    width: 300px;
    padding: 10px 15px;
    border: 2px solid #ffffffaa;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: 0.2s;
    margin: 1em;
  }
  
  input#nome:focus {
    border-color: #0c83e6;
    box-shadow: 0 0 8px #ffb6c1;
  }
  input#pwd{
    width: 300px;
    padding: 10px 15px;
    border: 2px solid #ffffffaa;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: 0.2s;
    margin-bottom: 0.7em;
  }
  
  input#pwd:focus {
    border-color: #0c83e6;
    box-shadow: 0 0 8px #ffb6c1;
  }
  
  button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #0c83e6;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: background 0.3s, transform 0.1s;
  }
  
  button:hover {
    background-color: #ff85c1;
    transform: scale(1.05);
  }
  
  #ricezione {
    width: 80%;
    max-width: 600px;
    height: 200px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
    overflow-y: auto;
    white-space: pre-wrap;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
  }
  